<h2>Commentaires</h2>
{% set canRemove = readOnly is not defined and ((project is defined and project.creator == app.user) or is_granted('ROLE_ADMIN')) %}
{% if comments is defined %}
    {% if comments|length == 0 %}
        {# Display nothing #}
    {% else %}
        {% for comment in comments %}
            <div class="project__comment">
                {% if canRemove or (app.user is not null and app.user.id == comment.author) %}
                    <span><a href="{{ path('comment_remove', {'id': comment.id}) }}" class="modalclickevent" data-message="Êtes-vous sûr de vouloir supprimer ce commentaire ?"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                {% elseif (participant is not null and comment.authorIsParticipant and comment.author == participant.id) %}
                    <span><a href="{{ path('project_participant_remove_comment', {'slug': participant.slug, 'commentId': comment.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                {% else %}
                    <span class="comment-placeholder"></span>
                {% endif %}
                <img src="{{ asset('assets/img/avatar.png') }}" alt="Avatar">
                <div class="comment">
                    <p>{{ comment.authorName }}</p>
                    <p>{{ comment.content|raw }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}

{% if commentForm is defined %}
    <div class="project__comment">
        <img src="{{ asset('assets/img/avatar.png') }}" alt="Avatar">
        <div class="comment">
            {% if app.user is not null %}
                <p>{{ app.user.authorName }}</p>
            {% else %}
                <p>{{ participant.authorName }}</p>
            {% endif %}
            {{ form(commentForm) }}
        </div>
    </div>
{% endif %}

{# OLD Comment #}
{#<div>#}
    {#<span>[{{ comment.createdAt|date('d/m/Y H:i:s') }}] {{ comment.authorName }} : {{ comment.content|raw }}</span>#}
{#</div>#}