<h2>Commentaires</h2>
{% set canRemove = readOnly is not defined and ((project is defined and project.creator == app.user) or is_granted('ROLE_ADMIN')) %}
{% if comments is defined %}
    {% if comments|length == 0 %}
        <div>Pas de commentaires</div>
    {% else %}
        {% for comment in comments %}
            <div>
                {# Not good, create own SessionService and register currentAuthenticateEntity where it is user or participant and use it #}
                {% if canRemove or
                    (app.user is not null and app.user.id == comment.author) or
                    (participant is not null and comment.authorIsParticipant and comment.author == participant.id)%}
                    <span><a href="{{ path('comment_remove', {'id': comment.id}) }}">x</a></span>
                {% endif %}
                <span>[{{ comment.createdAt|date('d/m/Y H:i:s') }}] {{ comment.authorName }} : {{ comment.content|raw }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
{% if commentForm is defined %}
    {{ form(commentForm) }}
{% endif %}