{% extends 'AppBundle:layout:layout.html.twig' %}

{% block content %}
    <section class="form__wrapper">
        <div class="form__content form__content--create">
            {{ form_start(form) }}
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}

            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
            <div class='input-group date' id='datetimepicker2'>
                {{ form_widget(form.date) }}
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            {{ form_label(form.place) }}
            {{ form_errors(form.place) }}
            {{ form_widget(form.place) }}

            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}

            {{ form_label(form.context) }}
            {{ form_errors(form.context) }}
            {{ form_widget(form.context) }}
            <div class="form__submit">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </section>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
                locale: 'fr'
            });
        });
    </script>
{% endblock %}