{% extends 'AppBundle:layout:layout.html.twig' %}

{% block content %}
    <div>
        [Créé le {{ project.createdAt.format('d/m/Y H:i:s') }} par {{ project.creator.username }}]
    </div>
    <div>
        Titre : <a href="javascript:test()" id="form_title">{{ project.title }}</a>
        <span id="form_title_hidden" style="display: none">
            {{ form_widget(form.title) }}
        </span>
    </div>
    <div>
        Date : {{ project.date.format('d/m/Y H:i:s') }}
    </div>
    <div>
        description : {{ project.description }}
    </div>
    <div>
        [Dernière modification {{ project.updatedAt.format('d/m/Y H:i:s') }}]
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function test() {
            //TODO: Install Jquery
//            console.log($(this).id);
        }
    </script>
{% endblock %}