{% extends '@App/layout/layout.html.twig' %}

{% block content %}
    <section class="dashbord">
        <div class="dashbord__wrapper">
            <div class="dashbord__header">
                <h1>Tableau de bord<a href="{{ path('project_create') }}">Créer un projet</a></h1>
            </div>
            <div class="dashbord__filter">
                <article class="dashbord__project dashbord__project--filter">
                    <ul>
                        <li id="dash_all">Tous les projets</li>
                        <li id="dash_mine">Mes projets</li>
                        <li id="dash_going">Je participe</li>
                    </ul>
                    <img src="{{ asset('assets/img/datepicker.jpg') }}" alt="">
                </article>
            </div>
            <div class="dashbord__content">
                {% for projectList in projects %}
                    {% for project in projectList %}
                        {% set pathUrl = null %}
                        {% if app.user == project.creator or app.user.isAdmin %}
                            {% set pathUrl = path('project_manage', {'id': project.id }) %}
                        {% elseif project.participantByUser(app.user) is not null %}
                            {% set pathUrl = path('project_participate', {'slug': project.SlugParticipantByUser(app.user) }) %}
                        {% else %}
                            {% set pathUrl = path('project_read', {'id': project.id }) %}
                        {% endif %}

                        {#
                            @Todo If app.user is in project.participant[] or isCreator
                            Add class="project_going" to article
                            (Je participe = Soit créateur soit j'ai été invité et j'ai validé)
                        #}
                        <article class="dashbord__project {% if app.user == project.creator %}my_project {% else %}a_project{% endif %} ">
                            <a href="{{ pathUrl }}">
                                <div class="dashbord__project-image">
                                    <img src="{{ asset('assets/img/meeting.jpg') }}" alt="Image événement">
                                    {% if project.context == 0 %}
                                        <p id="project_private">Privée</p>
                                    {% endif %}
                                    {#<a id="dashbord__project-link" href="">Voir</a>#}
                                </div>
                                <h3>{{ project.title }}</h3>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i>{{ project.date|date('d-m-Y H:i:s') }}</p>
                                {#<p><i class="fa fa-map-marker" aria-hidden="true"></i>Toulouse</p>#}
                                <p>{{ project.description|length > 50 ? project.description|slice(0, 50) ~ '...' : project.description  }}</p>
                            </a>
                        </article>
                    {% endfor %}
                {% else %}
                    <div class="dashbord__empty">
                        <p>Il n'existe actuellement aucun projets :(</p>
                        <a href="{{ path('project_create') }}">Créer un projet</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

