<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>

        <script type="text/javascript" src="{{ asset('assets/bower_components/moment/min/moment-with-locales.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('assets/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
    </head>
    <body>
    {% block menu %}{% endblock %}
    {% block message %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
