<header class="header">
    <!-- Menu -->
    <nav class="header__menu">
        <!-- Logo -->
        <div class="header__logo">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/img/logoT.png') }}" alt="Logo Your Project">
            </a>
        </div>
        <!-- Social Network -->
        <ul class="header__social">
            <li><a href="https://www.facebook.com/YourProject-253191425215422"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/YourProjectDev?lang=fr"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://plus.google.com/u/0/108428320534154909108"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
        <!-- Connexion -->
        <div class="header__connexion">
            {% if app.user is null %}
                <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% else %}
                <img src="{{ asset('assets/img/avatar.png') }}" alt="">
                <a id="menu-dropdown">{{ app.user.username }}<i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="header__dropdown">
                    <li><a href="{{ path('project_index') }}">Tableau de bord</a></li>
                    <li><a href="{{ path('fos_user_profile_show') }}">Configuration</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>